{% extends "AcmeDemoBundle::layout.html.twig" %}

{% block title "Symfony - Demos" %}

{% block content_header '' %}

{% block content %}
    <h1>New Demo Bundle</h1>
    <ul>
    {% for entity in entities %}
        <li>{{ entity.title }}</li>
    {% endfor %}
    </ul>

    {{ knp_pagination_render(entities) }}
{% endblock %}
